#dappTitle{
    color: black;
}
.headerContainer{
    width: 100%;

    width: 1;
    position: fixed;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title-left title-mid title-right";
    background-color: rgb(248, 248, 248);
}
.btn{
    
    background-color: black;
    color: white;
}
.btn-connect{
    max-width: 150px;
    margin: 5px;
}

.btn-disable:hover{
    cursor: auto;
    color: white;
}
.title-left{
    grid-area: title-left;
}
.title-mid{
    grid-area: title-mid;
}
.title-right{
    grid-area: title-right;
}
body{
    background-color: rgb(248, 248, 248);
    background-size: cover;
    
}
html, body {
    margin:0px;
    height:100%;
  }
.main-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.glass-container {
    width: 50%;
    height: 50%;
    padding: 100px;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    
    background: inherit;
    background-color: rgb(255, 255, 255);
    overflow: auto;

}
.glass-container::-webkit-scrollbar {
    display: none;
  }
h3{
    color: black;
}

.election-creation-container, .candidate-creation-container{
    text-align: center;
    display: flex;
    
    flex-direction: column;
    margin: 20px;
    
}

.fieldtext {
    color: black;
}
.input-data-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h5,h6{
    color: white;
}
.card-container{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 10px;
    
}
.card-container:hover {
    cursor: pointer;
}
